html {
  scroll-behavior: smooth;
}
html,
.body-accueil {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  font-family: "Space Grotesk";
  background-color: black;
}
.body-contact {
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.body-contact2 {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.collection-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video-background,
#image-background {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -100;
}
#image-background {
  display: none;
}
.logo {
  height: 18vh;
  width: 15vw;
}
.nav-accueil {
  font-size: 30px;
}
.nav-collection {
  font-size: 30px;
}
.nav-contatc {
  font-size: 30px;
}
.nav-about {
  font-size: 30px;
}
.collection {
  position: relative;
  min-height: 100vh;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Space Grotesk";
}

header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  border-bottom-style: double;
  border-bottom-color: white;
}
.header-logo {
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}
.header-nav a:hover {
  color: #ccc;
}
.header-reseaux {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.header-reseaux img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}
.header-reseaux img:hover {
  transform: scale(2.02);
}
.header-contact-2 {
  position: absolute;
  top: 0;
}
.boutton {
  padding: 2rem;
  color: white;
  width: 100vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.italic {
  font-size: 1.3rem;
  color: gray;
  font-family: "Space Grotesk";
  font-weight: 300;
  font-style: italic;
}
.bold {
  font-size: 2rem;
  font-family: "Space Grotesk";
  font-weight: 800;
  margin: 10px 0;
}
/* section {
  margin: 40px;
  width: 100vw;
} */
main {
  margin-top: 10px;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
}
.Accueil {
  height: 100vh;
  width: 100%;
}
img {
  width: 290px;
  height: 290px;
  border-radius: 5px;
}
p {
  font-family: "Space Grotesk";
  font-weight: lighter;
  /* margin: 10px; */
  color: whitesmoke;
}
h2 {
  color: whitesmoke;
  padding: 10px;
}
.h2 {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  font-family: "Space Grotesk";
  margin: 2rem 0;
  color: whitesmoke;
}
.intro {
  font-size: 20px;
  text-align: center;
  padding: 3rem 1rem;
  margin: auto;
  color: whitesmoke;
  border-bottom: 2px solid white;
}
.intro p {
  padding: 1rem 8rem;
}
.intro h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.nouveaute {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
  padding-bottom: 330px;
}
.card {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 20px;
  padding: 20px;
}

.img-card {
  width: 400px;
  height: 450px;
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  height: 500px;
}
.footer {
  width: 100%;
  padding: 2rem 1rem;
  background-color: #0a0a0a;
  color: #f4f3f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
}

.footer-content {
  text-align: center;
  flex-grow: 1;
  gap: 1rem;
}

.footer-nav {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.footer-logo {
  width: 80px;
}
.footer-logo img {
  width: 100px;
  height: 100px;
}
.footer-reseaux {
  width: 10%;
  display: flex;
  gap: 5%;
}
.footer-reseaux img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}
.footer-reseaux img:hover {
  transform: scale(2.02);
}

.footer-nav a {
  color: #f4f3f1;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #888;
}
.page-contact {
  width: 40%;
  background-color: #141414;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  margin-bottom: 300px;
}
.contact-titre {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #ffffff;
}
label {
  color: transparent;
}
input,
textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 1rem;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #ff4081;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e13570;
}
.after-contact {
  font-size: 2rem;
  margin-bottom: 10px;
  width: 50%;
  height: 50%;
  font-size: 30px;
  text-align: center;
  background-color: #141414;
  padding: 20px;
}
.after-contact a {
  margin-top: 20px;
  display: inline-block;
  color: #ff4081;
  text-decoration: underline;
}
.after-contact a:hover {
  color: white;
}
.btn {
  width: 100%;
  padding: 14px;
  background-color: #ff4081;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.collection-card {
  width: 100vw;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 12rem;
}
.collection-img-card {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
  object-position: center;
  border-top: solid wheat;
  border-bottom: solid wheat;
}
.collection-link {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  transition: all 0.3s ease;
}
.collection-link:hover {
  background-color: #f0f0f0;
  color: black;
}
.collection-card-1,
.collection-card-2,
.collection-card-3,
.collection-card-4 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.collection-card img {
  transition: transform 0.3s ease;
}
.collection-card img:hover {
  transform: scale(1.02);
}
.h1 {
  color: white;
}
.collection-titre {
  font-size: 2rem;
  text-align: center;
  color: #f0f0f0;
  margin-top: 40px;
}
.collection-description {
  text-align: center;
  color: #bbb;
  font-size: 1.1rem;
  margin-bottom: 60px;
}
.collection-nom {
  font-size: 1.5rem;
  color: #ccc;
  margin-top: 10px;
  text-align: center;
}
.h1-about {
  color: white;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  padding: 2rem;
}
.histoire,
.collectif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.img-about {
  width: 550px;
  height: 340px;
}

@media only screen and (max-width: 768px) {
  #video-background {
    display: none;
  }
  #image-background {
    display: block;
  }
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card > div {
    min-width: 280px;
  }
  .collection-card {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20rem;
  }
  .collection-card > div {
    min-width: 280px;
  }
  .collection-img-card {
    max-height: 60vh;
  }
  .collection-titre {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .collection-description {
    font-size: 1rem;
    margin: 20px 0;
  }
  .collection-nom {
    font-size: 1rem;
  }
  .header-nav {
    flex-direction: column;
    gap: 1rem;
  }
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
  .boutton {
    padding: 1rem;
    gap: 10px;
  }
  .italic {
    font-size: 1rem;
  }

  .bold {
    font-size: 1.4rem;
  }
  .intro {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  .page-contact {
    width: 90%;
    padding: 20px;
  }
  input,
  textarea {
    font-size: 1rem;
    padding: 10px;
  }
  .after-contact {
    width: 90%;
    font-size: 1.2rem;
  }
}
